apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
spec:
  replicas: 3
  selector:
    matchLabels:
      app: consumer
      component: consumer
  template:
    metadata:
      labels:
        app: consumer
        component: consumer
    spec:
      containers:
      - name: consumer
        image: chaitraboggaram/k8s-key-value-store-consumer:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8001
        env:
        - name: REDIS_HOST
          value: "redis-primary-service"
        command: 
        - "python"
        - "/usr/local/lib/python3.11/site-packages/huey/bin/huey_consumer.py"
        - "main.huey"
