apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
spec:
  replicas: 3
  selector:
    matchLabels:
      app: producer
      component: producer
  template:
    metadata:
      labels:
        app: producer
        component: producer
    spec:
      containers:
      - name: producer
        image: chaitraboggaram/k8s-key-value-store-producer:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: REDIS_HOST
          value: "redis-primary-service"