apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-secondary
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: chaitraboggaram/k8s-key-value-store-redis:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 6379